<section id="about-section">
  <article class="article article__container">
    <div class="article article__img-container">
      <img id="self-portrait" src="../../assets/me3.png" alt="self-portrait" />
    </div>

    <div class="global-content-grid">
      <h2 id="about">About</h2>
      <p>
        I'm Stanley, a software engineer. I am a driven, positive and
        growth-focused individual. I am currently undertaking the _Nology tech
        consultancy program. Presently, I am skilled in several different
        languages, tools and frameworks (check out the
        <a href="#skills-section"><mark id="special-link">Skills</mark></a>
        section). I am an avid-problem solver, and I love all things related to
        finance and technology.
      </p>
      <br />
      <p>
        When i'm not programming, you'll find me hiking up a mountain somewhere
        or if it's the Summer, I'll be watching the cricket on my couch or
        fishing near a jetty.
      </p>
      <div class="global-content-grid-social-container">
        <a href="https://www.linkedin.com/in/stanleyyu-ccs/" target="_blank"
          ><img class="icon" src="../../assets/linkedin.png" />
        </a>
        <a href="https://github.com/StanleyY7" target="_blank">
          <img class="icon" src="../../assets/github.png" />
        </a>
        <a href="mailto:stanleyyu7@gmail.com" target="_blank">
          <img class="icon" src="../../assets/mailicon.png" />
        </a>
      </div>
    </div>
  </article>
</section>
