<nav #navbar>
  <div class="nav nav-container" #HEADER>
    <div class="nav nav-container__logo">
      <h2><a href="index.html">:stanley</a></h2>
    </div>

    <div class="nav nav-container__links">
      <ul>
        <li (click)="closeMenu()">
          <a href="#about-section">About</a>
        </li>
        <li (click)="closeMenu()">
          <a href="#projects-section">Projects</a>
        </li>
        <li (click)="closeMenu()">
          <a href="#skills-section">Skills</a>
        </li>
      </ul>
    </div>

    <div
      class="nav nav-container__menu--hamburger"
      #hamburger
      (click)="toggleMenu()"
    >
      <div class="bar"></div>
    </div>
  </div>
</nav>
