<section id="projects-section">
  <aside class="projects">
    <div class="projects__container">
      <h2 id="projects-heading">Projects</h2>
      <div class="projects__grid">
        <div class="projects__grid--col">
          <div class="projects__grid--col-content" #eShop>
            <h3>E-Shop</h3>
            <p>
              This project involved creating a responsive e-commerce website
              (using HTML, CSS, SCSS, JS, React and Vite) with its own backend
              (built on Firestore) and cart system. The backend data is
              displayed on the frontend.
            </p>
            <div class="global-content-grid-social-container2">
              <a href="https://github.com/StanleyY7/Eshop" target="_blank">
                <img class="icon" src="../../assets/giticonwhite.png" />
              </a>
              <a href="https://stanleyy7.github.io/Eshop/" target="_blank">
                <img class="icon" src="../../assets/link.png" />
              </a>
            </div>
          </div>
          <div
            class="projects__img-container"
            id="projects__img-container_img1"
            #eImage
          ></div>
        </div>

        <div class="projects__grid--col">
          <div class="projects__grid--col-content" #fakeOS>
            <h3>FakeOS</h3>
            <p>
              This project involved creating an interactive website (using HTML,
              CSS, SCSS and JS) that is a mock-up of an Operating System. I
              chose to base my project on the Mac OSX version 10.10: Yosemite.
            </p>
            <div class="global-content-grid-social-container2">
              <a href="https://github.com/StanleyY7/fakeos" target="_blank">
                <img class="icon" src="../../assets/giticonwhite.png" />
              </a>
              <a href="https://stanleyy7.github.io/fakeos/" target="_blank">
                <img class="icon" src="../../assets/link.png" />
              </a>
            </div>
          </div>
          <div
            class="projects__img-container"
            id="projects__img-container_img2"
            #fImage
          ></div>
        </div>

        <div class="projects__grid--col">
          <div class="projects__grid--col-content" #gBooks>
            <h3>Google Books</h3>
            <p>
              This project involved creating a responsive website (using HTML,
              CSS, SCSS, JS, React and Vite) that fetches data (according to
              user input) from the Google Books Api and displays it to a
              grid/modal.
            </p>
            <div class="global-content-grid-social-container2">
              <a
                href="https://github.com/StanleyY7/googlebooks"
                target="_blank"
              >
                <img class="icon" src="../../assets/giticonwhite.png" />
              </a>
              <a
                href="https://stanleyy7.github.io/googlebooks/"
                target="_blank"
              >
                <img class="icon" src="../../assets/link.png" />
              </a>
            </div>
          </div>
          <div
            class="projects__img-container"
            id="projects__img-container_img3"
            #gImage
          ></div>
        </div>
        <div class="projects__grid--col">
          <div class="projects__grid--col-content" #minesweeper>
            <h3>Minesweeper</h3>
            <p>
              This project involved creating a CLI Minesweeper game using Java.
              In this game the user can input coordinates and the output is
              rendered as a 2 dimensional string array (all via/on the console).
            </p>
            <div class="global-content-grid-social-container2">
              <a
                href="https://github.com/StanleyY7/minesweeper"
                target="_blank"
              >
                <img class="icon" src="../../assets/giticonwhite.png" />
              </a>
            </div>
          </div>
          <div
            class="projects__img-container"
            id="projects__img-container_img4"
            #mImage
          ></div>
        </div>
      </div>
    </div>
  </aside>
</section>
